<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <title>Robin Haider</title>
</head>
<body>
    <div>
        <header id="home">

            <nav>
                <div class="row">
                    <div class="row logo">
                        <img class="logo-img"
                            src="https://www.pngkit.com/png/full/397-3971712_tata-steel-connects-sales-to-supply-chain-for.png">
                    </div>

                    <ul class="main-nav">
                        <li><a href="#home">Home</a></li>
                        <li><a href="/login/approver">Department</a></li>
                        <li><a href="/signup/approver">Security</a></li>
                        <!-- <li><a href="#testimonial">Admin</a></li> -->
                        <li><a href="#contact">Contact</a></li>
                    </ul>

                </div>
            </nav>


            <div class="hero-text-box">
                <h2>Smart Material Gatepass System (SMGPS)</h2>
                <br>
                <p>Based out of Halifax, NS. Specializing in custom WordPress theme development. If you are a business
                    seeking a web<br> presence or an employer looking to hire, you can get in touch with me here.
                <p>
                    <a class="btn btn-full js--scroll-to-contact" href="/usersignup">New User</a>
                    <a class="btn btn-ghost js--scroll-to-contact" href="/userlogin">Returning User</a>
            </div>

        </header>
        <!-- -------------------------------- -->
        <!-- SECTION FEATURES -->
        <!---------------------------------------------- -->

        <section class="section-features" id="expertise">
            <div class="section-features-title">
                <h2>SMGPS Registration</h2>
                <p>I've got chops in all phases of the design process.</p>
            </div>

            <div class="section group">

                <div class="col span_1_of_3 box">
                    <i class="ion-android-bulb big-icon"></i>
                    <h3>Ideas</h3>
                    <p>Fill out the online application form available on the TATA Steel website. First, don’t forget to open the Tata Steel visitor gate pass login page.
                        Include all relevant information such as your name, contact details, and the purpose of your visit.</p>
                </div>
                <div class="col span_1_of_3  box">
                    <i class="ion-android-desktop big-icon"></i>
                    <h3>UX/UI</h3>
                    <p>Once your application has been received, a representative from TATA Steel will contact you to confirm your appointment.
                        On the day of your visit, present your valid photo ID at the security gate and proceed to the Visitors Centre.
                        There, you will be required to fill out another form and submit it along with two passport-sized photographs.</p>
                </div>
                <div class="col span_1_of_3 box">
                    <i class="ion-social-html5-outline big-icon"></i>
                    <h3>Code</h3>
                    <p>Your Visitors Gate Pass will then be issued, and you will be given instructions on where to go and 
                        what safety regulations to follow while inside the premises.</p>
                </div>

            </div>

        </section>

        <!-- ------------------------ -->
        <!-- SECTION PORTFOLIO -->
        <!-- ----------------------------------------- -->


        <!-- -------------------------------- -->
        <!-- SECTION TESTIMONIAL -->
        <!---------------------------------------------- -->


        <!-- ------------------------ -->
        <!-- SECTION FORM -->
        <!-- ----------------------------------------- -->

        <section class="section-form js--section-contact" id="contact">
            <div>
                <h2>I'am happy to hear from you</h2>
            </div>

            <form method="post" action="#" class="contact-form">
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="name">Name</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="text" name="name" id="name" placeholder="your name" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="email">Email</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="email" name="email" id="email" placeholder="your email" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col span-1-of-3">
                        <label>How did you find us</label>
                    </div>
                    <div class="col span-2-of-3">
                        <select name="find-us">
                            <option value="friends" selected>Friends</option>
                            <option value="search">Search Engine</option>
                            <option value="ads">Advertisement</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col span-1-of-3">
                        <label>Newsletter?</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="checkbox" name="newsletter" id="newsletter" checked>
                        <p>Yes,please</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col span-1-of-3">
                        <label>Drop us a line</label>
                    </div>
                    <div class="col span-2-of-3">
                        <textarea name="message" id="message" placeholder="your message"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col span-1-of-3">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="submit" value="  Send It!  " class="btn btn-full">
                    </div>
                </div>

            </form>

        </section>

        <footer>
            <div>
                <img class="footer-img" src="https://www.pngkit.com/png/full/397-3971712_tata-steel-connects-sales-to-supply-chain-for.png">
            </div>
            <div>
                <p>Handmade by me &copy; 2017</p>
            </div>
            <div class="social-icons">
                <ul class="social-links">
                    <li><a target='_blank' href="https://plus.google.com/u/0/117243426291228283661"><i
                                class="ion-social-googleplus"></i></a></li>
                    <li><a target='_blank' href="https://twitter.com/robin_haider"><i
                                class="ion-social-twitter"></i></a></li>
                    <li><a target='_blank' href="https://www.linkedin.com/in/md-haider-ali-robin-3b629b141/"><i
                                class="ion-social-linkedin"></i></a></li>
                    <li><a target='_blank' href="https://www.instagram.com/robinhaider/?hl=en"><i
                                class="ion-social-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/robin.haider.12" target='_blank'><i
                                class="ion-social-facebook"></i></a></li>
                </ul>
            </div>
        </footer>


    </div>
</body>
<script src="/js/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>